 
<!DOCTYPE html>
<html>
<head>
	<title>www.education.com</title>
	<style>
		ul{
			list-style-type: none;
			overflow: hidden;
			border: 1px solid black;
			background-color: blue;
		}
		li{
			float: right;
		}
		li a {
		  display: block;
		  color: brown;
		  font-size: 22px;
		  text-align: center;
		  padding: 18px 20px;
		  text-decoration: none;
		}
		li a:hover:not(.active) {
  			background-color: black;
		}
		li a.active{
			color: white;
			background-color: purple;
		}
		.runDiv{
			height: 230px;
			width: 50%;
			background-color: red;
			border-radius: 40px 10px;
		}
	</style>
</head>
<body bgcolor="lightblue">
	
	<div class="all_blogs"> <h1><center> ALL users list</center></h1><br><br>
		<% for (let i of articles) { %>
		<center><div class="runDiv">
			<h3> <%= i.id %> </h3>
			<h3> First_name :  <%= i.first_name %> </h3>
			<h3> Last_name :  <%= i.last_name %> </h3>
			<p> Email :  <%=  i.email %> </p>
			<h3> Contact_no :  <%= i.contact_no %> </h3>

		</div></center>
		<% } %>
	</div>
</body>
</html>